
.text-center{       
    padding: 30px;
}
.heading{  
    color: #c0a98e;
  
}
section.pagelayout{
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 2fr;  
    font-size: 25px;     
}

a:link{   
    text-decoration: none;
}
.socialmedia{   
    display: flex;
    flex-direction: row; 
    justify-content: center;
    column-gap: 30px;
    font-size: 30px; 
    padding: 20px;
   
}
.bi-facebook{
    color: #1877f2;
}
.bi-instagram{
    color: #fb3958;
   
}
.bi-linkedin{
    color: #0e76a8 ;
    
}
.bi-github{
    color: #00acee;
}
.copyright{
    font-size: 25px;
}


